{% extends 'base_user.html' %}
{% block content %}

<div class="container mt-4" style="max-width:500px;">
    <div class="card shadow">
        <div class="card-header fw-bold text-success">
            🔐 Change Password
        </div>

        <div class="card-body">

            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Old Password</label>
                    <input type="password" name="old_password"
                           class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">New Password</label>
                    <input type="password" name="new_password"
                           class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirm New Password</label>
                    <input type="password" name="confirm_password"
                           class="form-control" required>
                </div>

                <button class="btn btn-success w-100">
                    Update Password
                </button>
            </form>

        </div>
    </div>
</div>

{% endblock %}
